* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.one {
  position: relative;
}
.one img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.one .ex {
  position: absolute;
  color: white;
  top: 230px;
  left: 700px;
  font-size: 25px;
}
.one .acc {
  position: absolute;
  color: white;
  top: 260px;
  left: 650px;
  font-size: 35px;
}

.two .tab {
  float: left;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
  margin-top: 70px;
}
.two .tab button {
  display: block;
  background-color: white;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  border-radius: 7px;
}
.two .tab button i {
  padding-right: 7px;
}
.two .tab button:hover {
  background-color: #ddd;
}
.two .tab button.active {
  background-color: rgb(201, 201, 201);
}
.two .tabcontent {
  float: left;
  padding: 0px 12px;
  width: 70%;
  border-left: none;
  height: 300px;
  margin-top: 70px;
}
.two .tabcontent span {
  text-decoration: underline;
}
.two .tabcontent #fir,
.two .tabcontent #last {
  border-color: #939393;
  width: 420px;
  height: 48px;
  border-radius: 7px;
  margin-top: 10px;
}
.two .tabcontent .fr {
  font-weight: 600;
}
.two .tabcontent .ls {
  font-weight: 600;
  padding-left: 330px;
}
.two .tabcontent #dis {
  width: 854px;
  height: 48px;
  border-color: #939393;
  border-radius: 7px;
  margin-top: 10px;
}
.two .tabcontent .ds {
  font-weight: 600;
  padding-top: 15px;
}
.two .tabcontent #pho,
.two .tabcontent #email {
  border-color: #939393;
  width: 420px;
  height: 48px;
  border-radius: 7px;
  margin-top: 10px;
}
.two .tabcontent .ph {
  font-weight: 600;
  padding-top: 15px;
}
.two .tabcontent .eml {
  font-weight: 600;
  padding-left: 330px;
  padding-top: 15px;
}
.two .tabcontent .gender {
  font-weight: 600;
  padding-top: 15px;
}
.two .tabcontent .ml {
  font-weight: 600;
  padding-left: 5px;
}
.two .tabcontent .fm {
  font-weight: 600;
  padding-left: 5px;
}
.two .tabcontent #fmale {
  margin-left: 15px;
}
.two .tabcontent .sav {
  background-color: black;
  color: white;
  border-radius: 7px;
  width: 90px;
  height: 40px;
  margin-top: 30px;
}
.two .tabcontent .sav:hover {
  opacity: 0.6;
}
.two .tabcontent .oll {
  font-weight: 600;
  padding-top: 15px;
}
.two .tabcontent .genol #old {
  width: 568px;
  height: 48px;
  border-color: #939393;
  border-radius: 7px;
  margin-top: 10px;
  position: relative;
}
.two .tabcontent .genol .closey {
  position: absolute;
  padding-top: 25px;
}
.two .tabcontent .ne {
  font-weight: 600;
  padding-top: 15px;
}
.two .tabcontent .genne #new {
  width: 568px;
  height: 48px;
  border-color: #939393;
  border-radius: 7px;
  margin-top: 10px;
  position: relative;
}
.two .tabcontent .genne .close {
  position: absolute;
  padding-top: 25px;
}
.two thead {
  background-color: #ddd;
}
.two tbody td {
  color: #939393;
}
.two tbody td button {
  border-radius: 7px;
  background-color: black;
  color: white;
  width: 70px;
  height: 40px;
  border: none;
}
.two tbody td button:hover {
  opacity: 0.7;
}/*# sourceMappingURL=account.css.map */