* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1450px;
    margin: auto;
}

.one {

    .generalone {

        .first {

            .secone {
                margin-top: 20px;

                .home {
                    color: #525252;

                    span {
                        color: #000;
                        font-weight: 500;
                    }
                }

                .filtr {
                    display: flex;
                    justify-content: space-between;

                    .filt {
                        font-size: 28px;
                        font-weight: 500;
                    }

                    .clear {
                        font-size: 13px;
                        color: #525252;
                        padding-top: 15px;
                    }
                }

                .categ {
                    color: #000;
                    font-weight: 500;
                }
            }

            .sectwo {

                .select {
                    display: flex;
                    flex-direction: column;

                    .ckec {
                        margin-top: 5px;

                        input {
                            size: 40px;
                        }

                        label {
                            padding-left: 5px;
                        }
                    }
                }

                hr {
                    margin-top: 30px;
                }
            }

            .secthi {

                .brand {
                    color: #000;
                    font-weight: 500;
                }

                .select {
                    display: flex;
                    flex-direction: column;

                    .ckec {
                        margin-top: 5px;

                        input {
                            size: 40px;
                        }

                        label {
                            padding-left: 5px;
                        }
                    }
                }

                hr {
                    margin-top: 30px;
                }
            }

            .secfou {

                .price {
                    color: #000;
                    font-weight: 500;
                }

                .select {
                    display: flex;
                    flex-direction: column;

                    .ckec {
                        margin-top: 5px;

                        input {
                            size: 40px;
                        }

                        label {
                            padding-left: 5px;
                        }
                    }
                }

                hr {
                    margin-top: 30px;
                }
            }

            .secfiv {

                .colors {
                    color: #000;
                    font-weight: 500;
                }

                .select {
                    display: flex;
                    flex-direction: column;

                    .ckec1 {
                        margin-top: 5px;

                        input {
                            size: 40px;
                        }

                        .colour {
                            background-color: #000;
                            border-radius: 50%;
                            width: 20px;
                            height: 20px;
                            margin-left: 10px;
                        }

                        label {
                            padding-left: 10px;
                        }
                    }

                    .ckec2 {
                        margin-top: 5px;

                        input {
                            size: 40px;
                        }

                        .colour {
                            background-color: blue;
                            border-radius: 50%;
                            width: 20px;
                            height: 20px;
                            margin-left: 10px;
                        }

                        label {
                            padding-left: 10px;
                        }
                    }

                    .ckec3 {
                        margin-top: 5px;

                        input {
                            size: 40px;
                        }

                        .colour {
                            background-color: green;
                            border-radius: 50%;
                            width: 20px;
                            height: 20px;
                            margin-left: 10px;
                        }

                        label {
                            padding-left: 10px;
                        }
                    }

                    .ckec4 {
                        margin-top: 5px;

                        input {
                            size: 40px;
                        }

                        .colour {
                            background-color: rgb(113, 17, 17);
                            border-radius: 50%;
                            width: 20px;
                            height: 20px;
                            margin-left: 10px;
                        }

                        label {
                            padding-left: 10px;
                        }
                    }

                    .ckec5 {
                        margin-top: 5px;

                        input {
                            size: 40px;
                        }

                        .colour {
                            background-color: rgb(42, 2, 2);
                            border-radius: 50%;
                            width: 20px;
                            height: 20px;
                            margin-left: 10px;
                            border: 1px solid #515151;
                        }

                        label {
                            padding-left: 10px;
                        }
                    }

                    .ckec6 {
                        margin-top: 5px;

                        input {
                            size: 40px;
                        }

                        .colour {
                            background-color: white;
                            border-radius: 50%;
                            width: 20px;
                            height: 20px;
                            margin-left: 10px;
                            border: 1px solid #515151;
                        }

                        label {
                            padding-left: 10px;
                        }
                    }

                    .ckec7 {
                        margin-top: 5px;

                        input {
                            size: 40px;
                        }

                        .colour {
                            background-color: rgb(167, 167, 167);
                            border-radius: 50%;
                            width: 20px;
                            height: 20px;
                            margin-left: 10px;
                            border: 1px solid #515151;
                        }

                        label {
                            padding-left: 10px;
                        }
                    }
                }

                hr {
                    margin-top: 30px;
                }
            }
        }

        .second {

            .secone {
                display: flex;
                

                .casual {
                    font-size: 28px;
                    font-weight: 700;
                    padding-top: 60px;
                    width: 300px;
                }

                .item {
                    font-size: 17px;
                    color: #525252;
                    padding-top: 70px;
                    margin-left: 710px;
                    width: 100px;
                    position: absolute;
                }

                .selec {
                    padding-top: 10px;
                    margin-left: 110px;
                    position: relative;

                    button {
                        border-color: rgb(218, 218, 218);
                        width: 140px;
                        height: 40px;
                    }

                    .sort {
                        margin-bottom: 10px;

                        p {
                            height: 0;
                            font-size: 16px;
                            font-weight: 600;
                            padding-bottom: 10px;
                            padding-left: 20px;
                        }

                        .icon {
                            position: relative;
                            margin-left: 23px;
                            margin-bottom: 10px;

                            .uicon {
                                position: absolute;
                                color: rgb(178, 178, 178);
                                font-size: 12px;
                            }

                            .dicon {
                                position: absolute;
                                padding-top: 10px;
                                color: rgb(178, 178, 178);
                                font-size: 12px;
                            }
                        }
                    }

                }

            }
            

            .sectwo {

                .cards {
                    display: flex;
                    justify-content: space-between;

                    .card {
                        position: relative;
                        width: 180px;
                        border: none;
                        margin-top: 30px;

                        img {
                            border-radius: 5px;
                            width: 180px !important;
                            height: 231px;
                            object-fit: contain;
                        }

                        .info {
                            margin-left: 20px;

                            .brend {
                                font-weight: 500;
                                font-size: 17px;
                                margin-top: 8px;
                                height: 0;
                            }

                            .marka {
                                height: 0;
                                padding-top: 14px;
                                color: #888888;
                            }

                            .cost {

                                .discount {
                                    height: 0;
                                    color: #888888;
                                    text-decoration: line-through;
                                    padding-top: 15px;
                                    padding-left: 20px;
                                }

                                .count {
                                    font-size: 21px;
                                    font-weight: 600;
                                    padding-top: 10px;
                                }
                            }
                        }
                    }

                    .card:hover {
                        box-shadow: 0px 2px 2px 2px #888888;
                        margin-bottom: 7px !important;
                    }
                }
            }

            .btn {
                background-color: #000;
                border-radius: 10px;
                color: white;
                width: 120px;
                height: 50px;
                margin-left: 475px;
                margin-top: 60px;
            }
        }
    }
}

footer {

    .generalone {
        justify-content: space-between;
        width: 1400px;
        height: 300px;
        background-color: whitesmoke;
        border-radius: 10px;
        margin-left: 50px;
        margin-top: 60px;

        .write {
            margin-left: 50px;
            margin-top: 50px;

            h2 {
                height: 0;
                padding-top: 70px;
                padding-bottom: 45px;
                font-weight: bold;
            }
        }

        .but {
            margin-right: 50px;
            margin-top: 50px;

            input {
                width: 410px;
                height: 56px;
                border: 1px solid #E6E6E6;
                border-radius: 7px;
                padding-left: 30px;
                padding-bottom: 5px;
                margin-top: 85px;
            }

            button {
                width: 130px;
                height: 56px;
                background-color: #000;
                color: white;
                border-radius: 7px;

                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }

    hr {
        margin: 60px 0;
    }

    .generaltwo {

        .social {

            h2 {
                font-size: 19px;
                padding-top: 5px;
            }

            i {
                color: #888888;
                padding-top: 12px;
            }

            span {
                color: #888888;
                padding-top: 5px;
                padding-left: 7px;
            }
        }

        .contact {

            h2 {
                font-size: 19px;
                padding-top: 5px;
            }

            p {
                color: #888888;
                height: 0;
                padding-top: 7px;
            }

            .info {
                color: #888888;
                height: 0;
                padding-top: 16px;
            }
        }

        .about {

            h2 {
                font-size: 19px;
                padding-top: 5px;
            }

            p {
                color: #888888;
                height: 0;
                padding-top: 7px;
            }

            .info {
                color: #888888;
                height: 0;
                padding-top: 16px;
            }
        }

        .customer {

            h2 {
                font-size: 19px;
                padding-top: 5px;
            }

            p {
                color: #888888;
                height: 0;
                padding-top: 7px;
            }

            .info {
                color: #888888;
                height: 0;
                padding-top: 16px;
            }
        }

        .information {

            h2 {
                font-size: 19px;
                padding-top: 5px;
            }

            p {
                color: #888888;
                height: 0;
                padding-top: 7px;
            }

            .info {
                color: #888888;
                height: 0;
                padding-top: 16px;
            }
        }

        .top {

            h2 {
                font-size: 19px;
                padding-top: 5px;
            }

            i {
                color: #888888;
                padding-top: 12px;
            }

            span {
                color: #888888;
                padding-top: 5px;
                padding-left: 7px;
            }
        }
    }

    .hr2 {
        margin: 70px 0 25px 0;
    }

    .genfoo {
        display: flex;
        justify-content: space-between;

        .inf {

            p {
                color: #888888;

                span {
                    color: #000;
                    font-weight: bold;
                }
            }
        }

        .mark {
            display: flex;
            background-color: white;
            margin-right: 30px;

            img {
                margin-right: 25px;
            }
        }

        .scroll {

            a {
                text-decoration: none;

                p {
                    border: none;
                    background-color: white;
                    color: #888888;

                    i {
                        color: #888888;
                    }
                }
            }
        }
    }
}