* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1450px;
  margin: auto;
}

.nfirst {
  display: flex;
  align-items: center;
  padding-top: 25px;
}
.nfirst img {
  margin-left: 20px;
}
.nfirst ul {
  display: flex;
  padding-top: 10px;
}
.nfirst ul .deals {
  display: inline;
  padding-top: 3px;
}
.nfirst ul .deals a {
  text-decoration: none;
  color: #000;
  font-size: 17px;
  padding-left: 23px;
}
.nfirst ul .deals i {
  font-size: 20px;
}
.nfirst ul .other {
  display: inline;
  padding-top: 7px;
}
.nfirst ul .other a {
  text-decoration: none;
  color: #000;
  font-size: 17px;
  padding-left: 40px;
}
.nfirst form {
  position: relative;
}
.nfirst form i {
  position: absolute;
  width: 50px;
  height: 60px;
  font-size: 20px;
  margin-left: 100px;
  margin-top: 20px;
}
.nfirst form .search {
  display: flex;
  align-items: center;
  margin-left: 90px;
}
.nfirst form .search input {
  width: 470px;
  height: 60px;
  outline: none;
  border: none;
  background-color: whitesmoke;
  border-radius: 7px;
  padding-left: 50px;
}
.nfirst form .search input:focus {
  border: 2px solid;
}
.nfirst .like {
  display: flex;
  margin-left: 60px;
}
.nfirst .like button {
  display: flex;
  border: none;
  background-color: white;
}
.nfirst .like button i {
  font-size: 25px;
  margin-bottom: 2px;
  position: relative;
}
.nfirst .like button sup {
  background-color: #000;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  padding-top: 8px;
  position: absolute;
  margin-left: 18px;
  margin-top: 34px;
}
.nfirst .like div {
  padding-left: 15px;
  font-size: 17px;
}
.nfirst .basket {
  display: flex;
  margin-left: 30px;
}
.nfirst .basket button {
  display: flex;
  border: none;
  background-color: white;
}
.nfirst .basket button i {
  font-size: 25px;
  position: relative;
}
.nfirst .basket button sup {
  background-color: #000;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  padding-top: 8px;
  position: absolute;
  margin-left: 16px;
  margin-top: 34px;
}
.nfirst .basket div {
  padding-left: 15px;
  font-size: 17px;
}

hr {
  opacity: 0.1;
}

.nsecond .categor {
  margin-left: 20px;
}
.nsecond .categor .tbtn {
  background-color: black;
  height: 45px;
  width: 140px;
  font-size: 15px;
  font-weight: 600;
}
.nsecond .categor .tbtn i {
  margin-right: 5px;
}
.nsecond .categor .list {
  border: none;
}
.nsecond .categor .list div {
  display: flex;
}
.nsecond .secondl {
  display: flex;
  align-items: center;
  padding-left: 8px;
  margin-top: 3px;
}
.nsecond .secondl .demos {
  margin-left: 17px;
}
.nsecond .secondl .demos button {
  background-color: white;
  color: #000;
  border: none;
  font-size: 17px;
}
.nsecond .secondl .demos .demolist {
  background-color: rgb(251, 251, 251);
  border: none;
  border-radius: 0;
}
.nsecond .secondl .demos .demolist li {
  padding-left: 20px;
}
.nsecond .secondl .men {
  margin-left: 5px;
}
.nsecond .secondl .men button {
  background-color: white;
  color: #000;
  border: none;
  font-size: 17px;
}
.nsecond .secondl .men .menlist {
  height: 0px;
  border: none;
  border-radius: 0;
}
.nsecond .secondl .men .menlist .menlist1 {
  background-color: rgb(251, 251, 251);
}
.nsecond .secondl .men .menlist .menlist1 .topicmain1 {
  padding-top: 30px;
  font-weight: 600;
}
.nsecond .secondl .men .menlist .menlist1 .topic1 {
  font-weight: 600;
}
.nsecond .secondl .men .menlist .menlist2 {
  background-color: whitesmoke;
}
.nsecond .secondl .men .menlist .menlist2 .topicmain2 {
  padding-top: 30px;
  font-weight: 600;
}
.nsecond .secondl .men .menlist .menlist2 .topic2 {
  font-weight: 600;
}
.nsecond .secondl .men .menlist .menlist3 {
  background-color: rgb(251, 251, 251);
}
.nsecond .secondl .men .menlist .menlist3 .topicmain3 {
  padding-top: 30px;
  font-weight: 600;
}
.nsecond .secondl .men .menlist .menlist3 .topic3 {
  font-weight: 600;
}
.nsecond .secondl .men .menlist .menlist4 {
  background-color: whitesmoke;
}
.nsecond .secondl .men .menlist .menlist4 .topicmain4 {
  padding-top: 30px;
  font-weight: 600;
}
.nsecond .secondl .men .menlist .menlist4 .topic4 {
  font-weight: 600;
}
.nsecond .secondl .men .menlist .menlist5 {
  background-color: rgb(251, 251, 251);
}
.nsecond .secondl .men .menlist .menlist5 .topicmain5 {
  padding-top: 30px;
  font-weight: 600;
}
.nsecond .secondl .men .menlist .menlist5 .topic5 {
  font-weight: 600;
}
.nsecond .secondl .women {
  margin-left: 5px;
}
.nsecond .secondl .women button {
  background-color: white;
  color: #000;
  border: none;
  font-size: 17px;
}
.nsecond .secondl .women .womenlist {
  height: 0px;
  border: none;
  border-radius: 0;
}
.nsecond .secondl .women .womenlist .womenlist1 {
  background-color: rgb(251, 251, 251);
}
.nsecond .secondl .women .womenlist .womenlist1 .topicmain1 {
  padding-top: 30px;
  font-weight: 600;
}
.nsecond .secondl .women .womenlist .womenlist1 .topic1 {
  font-weight: 600;
}
.nsecond .secondl .women .womenlist .womenlist2 {
  background-color: whitesmoke;
}
.nsecond .secondl .women .womenlist .womenlist2 .topicmain2 {
  padding-top: 30px;
  font-weight: 600;
}
.nsecond .secondl .women .womenlist .womenlist2 .topic2 {
  font-weight: 600;
}
.nsecond .secondl .women .womenlist .womenlist3 {
  background-color: rgb(251, 251, 251);
}
.nsecond .secondl .women .womenlist .womenlist3 .topicmain3 {
  padding-top: 30px;
  font-weight: 600;
}
.nsecond .secondl .women .womenlist .womenlist3 .topic3 {
  font-weight: 600;
}
.nsecond .secondl .women .womenlist .womenlist4 {
  background-color: whitesmoke;
}
.nsecond .secondl .women .womenlist .womenlist4 .topicmain4 {
  padding-top: 30px;
  font-weight: 600;
}
.nsecond .secondl .women .womenlist .womenlist4 .topic4 {
  font-weight: 600;
}
.nsecond .secondl .women .womenlist .womenlist5 {
  background-color: rgb(251, 251, 251);
}
.nsecond .secondl .women .womenlist .womenlist5 .topicmain5 {
  padding-top: 30px;
  font-weight: 600;
}
.nsecond .secondl .women .womenlist .womenlist5 .topic5 {
  font-weight: 600;
}
.nsecond .secondl .originl {
  display: flex;
  align-items: center;
}
.nsecond .secondl .originl .search {
  display: inline;
  margin-left: 20px;
  font-size: 17px;
}
.nsecond .secondl .originl .shop {
  display: inline;
  margin-left: 33px;
  font-size: 17px;
}
.nsecond .secondl .page {
  margin-left: 15px;
}
.nsecond .secondl .page button {
  background-color: white;
  color: #000;
  border: none;
  font-size: 17px;
}
.nsecond .secondl .page .pagelist {
  background-color: rgb(251, 251, 251);
  border: none;
  border-radius: 0;
}
.nsecond .secondl .page .pagelist .user button {
  background-color: white;
  color: #000;
  border: none;
  font-size: 17px;
}
.nsecond .secondl .page .pagelist .user .userlist {
  background-color: rgb(251, 251, 251);
  border: none;
  border-radius: 0;
}
.nsecond .secondl .page .pagelist .user li {
  padding-left: 20px;
}
.nsecond .log {
  display: flex;
  margin-left: 350px;
  margin-top: 9px;
}
.nsecond .log i {
  font-weight: 400;
  font-size: 20px;
}
.nsecond .log .iconl {
  font-size: 17px;
  padding-left: 10px;
}
.nsecond .selec {
  margin-left: 2px;
}
.nsecond .selec button {
  background-color: white;
  color: #000;
  margin-left: 30px;
  width: 160px;
  border-color: rgb(194, 194, 194);
  position: relative;
}
.nsecond .selec button .uicon {
  color: rgb(194, 194, 194);
  font-size: 11px;
  position: absolute;
  margin-left: 10px;
  margin-top: 3px;
}
.nsecond .selec button .dicon {
  color: rgb(194, 194, 194);
  font-size: 11px;
  position: absolute;
  margin-left: 10px;
  margin-top: 12px;
}
.nsecond .selec ul .languagic {
  margin-left: 50px;
}
.nsecond .selec ul .langic {
  margin-left: 23px;
}/*# sourceMappingURL=main.css.map */