* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1450px;
    margin: auto;
}

.nfirst {
    display: flex;
    align-items: center;
    padding-top: 25px;

    img {
        margin-left: 20px;
    }

    ul {
        display: flex;
        padding-top: 10px;

        .deals {
            display: inline;
            padding-top: 3px;

            a {
                text-decoration: none;
                color: #000;
                font-size: 17px;
                padding-left: 23px;
            }

            i {
                font-size: 20px;
            }
        }

        .other {
            display: inline;
            padding-top: 7px;

            a {
                text-decoration: none;
                color: #000;
                font-size: 17px;
                padding-left: 40px;
            }
        }
    }

    form {
        position: relative;

        i {
            position: absolute;
            width: 50px;
            height: 60px;
            font-size: 20px;
            margin-left: 100px;
            margin-top: 20px;
        }

        .search {
            display: flex;
            align-items: center;
            margin-left: 90px;

            input {
                width: 470px;
                height: 60px;
                outline: none;
                border: none;
                background-color: whitesmoke;
                border-radius: 7px;
                padding-left: 50px;
            }

            input:focus {
                border: 2px solid;
            }
        }
    }

    .like {
        display: flex;
        margin-left: 60px;

        button {
            display: flex;
            border: none;
            background-color: white;

            i {
                font-size: 25px;
                margin-bottom: 2px;
                position: relative;
            }

            sup {
                background-color: #000;
                color: white;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                font-size: 12px;
                padding-top: 8px;
                position: absolute;
                margin-left: 18px;
                margin-top: 34px;
            }
        }

        div {
            padding-left: 15px;
            font-size: 17px;
        }
    }

    .basket {
        display: flex;
        margin-left: 30px;

        button {
            display: flex;
            border: none;
            background-color: white;

            i {
                font-size: 25px;
                position: relative;
            }

            sup {
                background-color: #000;
                color: white;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                font-size: 12px;
                padding-top: 8px;
                position: absolute;
                margin-left: 16px;
                margin-top: 34px;
            }
        }

        div {
            padding-left: 15px;
            font-size: 17px;
        }
    }
}

hr {
    opacity: 0.1;
}

.nsecond {

    .categor {
        margin-left: 20px;

        .tbtn {
            background-color: black;
            height: 45px;
            width: 140px;
            font-size: 15px;
            font-weight: 600;

            i {
                margin-right: 5px;
            }
        }

        .list {
            border: none;

            div {
                display: flex;
            }
        }
    }

    .secondl {
        display: flex;
        align-items: center;
        padding-left: 8px;
        margin-top: 3px;



        .demos {
            margin-left: 17px;


            button {
                background-color: white;
                color: #000;
                border: none;
                font-size: 17px;
            }

            // hr{
            //     width: 0;
            //     height: 4px;
            //     background-color: #000;

            //     top: 34px;
            //     transition: all 0.5s;
            //     border: none;
            // }

            // .demolist:hover ~ hr{
            //     width: 100px;
            // }

            .demolist {
                background-color: rgb(251, 251, 251);
                border: none;
                border-radius: 0;

                li {
                    padding-left: 20px;
                }
            }
        }

        .men {
            margin-left: 5px;

            .show {
                display: flex;
                align-items: baseline;

                i {
                    margin-left: 5px;
                    transform: rotate(180deg);
                }
            }

            button {
                background-color: white;
                color: #000;
                border: none;
                font-size: 17px;
            }

            .menlist {
                border: none;
                border-radius: 0;


                .menlist1 {
                    background-color: rgb(251, 251, 251);

                    .topicmain1 {
                        padding-top: 30px;
                        font-weight: 600;
                    }

                    .topic1 {
                        font-weight: 600;
                    }

                    .topicend1 {
                        font-weight: 600;
                        padding-bottom: 30px;
                    }
                }

                .menlist2 {
                    background-color: whitesmoke;

                    .topicmain2 {
                        padding-top: 30px;
                        font-weight: 600;
                    }

                    .topic2 {
                        font-weight: 600;
                    }
                }

                .menlist3 {
                    background-color: rgb(251, 251, 251);

                    .topicmain3 {
                        padding-top: 30px;
                        font-weight: 600;
                    }

                    .topic3 {
                        font-weight: 600;
                    }
                }

                .menlist4 {
                    background-color: whitesmoke;

                    .topicmain4 {
                        padding-top: 30px;
                        font-weight: 600;
                    }

                    .topic4 {
                        font-weight: 600;
                    }
                }

                .menlist5 {
                    background-color: rgb(251, 251, 251);

                    .topicmain5 {
                        padding-top: 30px;
                        font-weight: 600;
                    }

                    .topic5 {
                        font-weight: 600;
                    }
                }
            }
        }

        .women {
            margin-left: 5px;

            .show {
                display: flex;
                align-items: baseline;

                i {
                    margin-left: 5px;
                    transform: rotate(180deg);
                }
            }

            button {
                background-color: white;
                color: #000;
                border: none;
                font-size: 17px;
            }


            .womenlist {
                border: none;
                border-radius: 0;

                .womenlist1 {
                    background-color: rgb(251, 251, 251);

                    .topicmain1 {
                        padding-top: 30px;
                        font-weight: 600;
                    }

                    .topic1 {
                        font-weight: 600;
                    }

                    .topicend1 {
                        font-weight: 600;
                        padding-bottom: 30px;
                    }
                }

                .womenlist2 {
                    background-color: whitesmoke;

                    .topicmain2 {
                        padding-top: 30px;
                        font-weight: 600;
                    }

                    .topic2 {
                        font-weight: 600;
                    }
                }

                .womenlist3 {
                    background-color: rgb(251, 251, 251);

                    .topicmain3 {
                        padding-top: 30px;
                        font-weight: 600;
                    }

                    .topic3 {
                        font-weight: 600;
                    }
                }

                .womenlist4 {
                    background-color: whitesmoke;

                    .topicmain4 {
                        padding-top: 30px;
                        font-weight: 600;
                    }

                    .topic4 {
                        font-weight: 600;
                    }
                }

                .womenlist5 {
                    background-color: rgb(251, 251, 251);

                    .topicmain5 {
                        padding-top: 30px;
                        font-weight: 600;
                    }

                    .topic5 {
                        font-weight: 600;
                    }
                }
            }
        }

        .originl {
            display: flex;
            align-items: center;

            .search {
                display: inline;
                margin-left: 20px;
                font-size: 17px;
            }

            .shop {
                display: inline;
                margin-left: 33px;
                font-size: 17px;
            }
        }

        .page {
            .navbar-nav {
                .nav-link {
                    color: #000;

                    .nav-link:hover i {
                        transform: rotate(180deg);
                    }
                }

                .dropdown-menu {
                    display: none;

                    .dropdown {
                        border-radius: 0;

                        .dropend {

                            .dropdown-toggle {
                                color: black;
                                margin-left: 1em;
                                margin-left: 0.5em;
                            }
                        }
                    }
                }

                .dropdown-item:hover {
                    background-color: whitesmoke;
                    color: black;
                }

                .dropdown:hover>.dropdown-menu,
                .dropend:hover>.dropdown-menu {
                    display: block;
                    margin-top: 0.125em;
                    margin-left: 0.125em;
                }

                @media screen and (min-width: 769px) {
                    .dropend:hover>.dropdown-menu {
                        position: absolute;
                        top: 0;
                        left: 100%;
                    }


                }
            }







        }

        .log {
            display: flex;
            margin-left: 350px;
            margin-top: 9px;

            i {
                font-weight: 400;
                font-size: 20px;
            }

            .iconl {
                font-size: 17px;
                padding-left: 10px;
            }
        }

        .selec {
            margin-left: 2px;

            button {
                background-color: white;
                color: #000;
                margin-left: 30px;
                width: 160px;
                border-color: rgb(194, 194, 194);
                position: relative;

                .uicon {
                    color: rgb(194, 194, 194);
                    font-size: 11px;
                    position: absolute;
                    margin-left: 10px;
                    margin-top: 3px;
                }

                .dicon {
                    color: rgb(194, 194, 194);
                    font-size: 11px;
                    position: absolute;
                    margin-left: 10px;
                    margin-top: 12px;
                }
            }

            ul {

                .languagic {
                    margin-left: 50px;
                }

                .langic {
                    margin-left: 23px;
                }
            }
        }
    }
}

.slider {
    overflow: hidden;

    img {
        width: 100%;
    }
}

.two {

    h2 {
        padding-top: 20px;
        font-weight: bold;
    }
}