* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1450px;
  margin: auto;
}

.nfirst {
  display: flex;
  align-items: center;
  padding-top: 25px;
}
.nfirst img {
  margin-left: 20px;
}
.nfirst ul {
  display: flex;
  padding-top: 10px;
}
.nfirst ul .deals {
  display: inline;
  padding-top: 3px;
}
.nfirst ul .deals a {
  text-decoration: none;
  color: #000;
  font-size: 17px;
  padding-left: 23px;
}
.nfirst ul .deals i {
  font-size: 20px;
}
.nfirst ul .other {
  display: inline;
  padding-top: 7px;
}
.nfirst ul .other a {
  text-decoration: none;
  color: #000;
  font-size: 17px;
  padding-left: 40px;
}
.nfirst form {
  position: relative;
}
.nfirst form i {
  position: absolute;
  width: 50px;
  height: 60px;
  font-size: 20px;
  margin-left: 100px;
  margin-top: 20px;
}
.nfirst form .search {
  display: flex;
  align-items: center;
  margin-left: 90px;
}
.nfirst form .search input {
  width: 470px;
  height: 60px;
  outline: none;
  border: none;
  background-color: whitesmoke;
  border-radius: 7px;
  padding-left: 50px;
}
.nfirst form .search input:focus {
  border: 2px solid;
}
.nfirst .like {
  display: flex;
  margin-left: 60px;
}
.nfirst .like button {
  display: flex;
  border: none;
  background-color: white;
}
.nfirst .like button i {
  font-size: 25px;
  margin-bottom: 2px;
  position: relative;
}
.nfirst .like button sup {
  background-color: #000;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  padding-top: 8px;
  position: absolute;
  margin-left: 18px;
  margin-top: 34px;
}
.nfirst .like div {
  padding-left: 15px;
  font-size: 17px;
}
.nfirst .basket {
  display: flex;
  margin-left: 30px;
}
.nfirst .basket button {
  display: flex;
  border: none;
  background-color: white;
}
.nfirst .basket button i {
  font-size: 25px;
  position: relative;
}
.nfirst .basket button sup {
  background-color: #000;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  padding-top: 8px;
  position: absolute;
  margin-left: 16px;
  margin-top: 34px;
}
.nfirst .basket div {
  padding-left: 15px;
  font-size: 17px;
}

hr {
  opacity: 0.1;
}

.nsecond .generalbutton {
  display: flex;
}
.nsecond .generalbutton .categor {
  margin-left: 20px;
}
.nsecond .generalbutton .categor .tbtn {
  background-color: black;
  height: 45px;
  width: 140px;
  font-size: 15px;
  font-weight: 600;
}
.nsecond .generalbutton .categor .tbtn i {
  margin-right: 5px;
}
.nsecond .generalbutton .categor .list {
  border: none;
}
.nsecond .generalbutton .categor .list div {
  display: flex;
}
.nsecond .generalbutton .secondl {
  display: flex;
  align-items: center;
  padding-left: 8px;
  margin-top: 3px;
}
.nsecond .generalbutton .secondl .demos {
  margin-left: 17px;
}
.nsecond .generalbutton .secondl .demos button {
  background-color: white;
  color: grey;
  border: none;
  font-size: 17px;
}
.nsecond .generalbutton .secondl .demos .demolist {
  background-color: rgb(251, 251, 251);
  border: none;
  border-radius: 0;
}
.nsecond .generalbutton .secondl .demos .demolist li {
  padding-left: 20px;
}
.nsecond .generalbutton .secondl .men {
  margin-left: 5px;
}
.nsecond .generalbutton .secondl .men .show {
  display: flex;
  align-items: baseline;
}
.nsecond .generalbutton .secondl .men .show i {
  margin-left: 5px;
  transform: rotate(180deg);
}
.nsecond .generalbutton .secondl .men button {
  background-color: white;
  color: grey;
  border: none;
  font-size: 17px;
}
.nsecond .generalbutton .secondl .men .menlist {
  border: none;
  border-radius: 0;
}
.nsecond .generalbutton .secondl .men .menlist .menlist1 {
  background-color: rgb(251, 251, 251);
}
.nsecond .generalbutton .secondl .men .menlist .menlist1 .topicmain1 {
  padding-top: 30px;
  font-weight: 600;
}
.nsecond .generalbutton .secondl .men .menlist .menlist1 .topic1 {
  font-weight: 600;
}
.nsecond .generalbutton .secondl .men .menlist .menlist1 .topicend1 {
  font-weight: 600;
  padding-bottom: 30px;
}
.nsecond .generalbutton .secondl .men .menlist .menlist2 {
  background-color: whitesmoke;
}
.nsecond .generalbutton .secondl .men .menlist .menlist2 .topicmain2 {
  padding-top: 30px;
  font-weight: 600;
}
.nsecond .generalbutton .secondl .men .menlist .menlist2 .topic2 {
  font-weight: 600;
}
.nsecond .generalbutton .secondl .men .menlist .menlist3 {
  background-color: rgb(251, 251, 251);
}
.nsecond .generalbutton .secondl .men .menlist .menlist3 .topicmain3 {
  padding-top: 30px;
  font-weight: 600;
}
.nsecond .generalbutton .secondl .men .menlist .menlist3 .topic3 {
  font-weight: 600;
}
.nsecond .generalbutton .secondl .men .menlist .menlist4 {
  background-color: whitesmoke;
}
.nsecond .generalbutton .secondl .men .menlist .menlist4 .topicmain4 {
  padding-top: 30px;
  font-weight: 600;
}
.nsecond .generalbutton .secondl .men .menlist .menlist4 .topic4 {
  font-weight: 600;
}
.nsecond .generalbutton .secondl .men .menlist .menlist5 {
  background-color: rgb(251, 251, 251);
}
.nsecond .generalbutton .secondl .men .menlist .menlist5 .topicmain5 {
  padding-top: 30px;
  font-weight: 600;
}
.nsecond .generalbutton .secondl .men .menlist .menlist5 .topic5 {
  font-weight: 600;
}
.nsecond .generalbutton .secondl .women {
  margin-left: 5px;
}
.nsecond .generalbutton .secondl .women .show {
  display: flex;
  align-items: baseline;
}
.nsecond .generalbutton .secondl .women .show i {
  margin-left: 5px;
  transform: rotate(180deg);
}
.nsecond .generalbutton .secondl .women button {
  background-color: white;
  color: grey;
  border: none;
  font-size: 17px;
}
.nsecond .generalbutton .secondl .women .womenlist {
  border: none;
  border-radius: 0;
}
.nsecond .generalbutton .secondl .women .womenlist .womenlist1 {
  background-color: rgb(251, 251, 251);
}
.nsecond .generalbutton .secondl .women .womenlist .womenlist1 .topicmain1 {
  padding-top: 30px;
  font-weight: 600;
}
.nsecond .generalbutton .secondl .women .womenlist .womenlist1 .topic1 {
  font-weight: 600;
}
.nsecond .generalbutton .secondl .women .womenlist .womenlist1 .topicend1 {
  font-weight: 600;
  padding-bottom: 30px;
}
.nsecond .generalbutton .secondl .women .womenlist .womenlist2 {
  background-color: whitesmoke;
}
.nsecond .generalbutton .secondl .women .womenlist .womenlist2 .topicmain2 {
  padding-top: 30px;
  font-weight: 600;
}
.nsecond .generalbutton .secondl .women .womenlist .womenlist2 .topic2 {
  font-weight: 600;
}
.nsecond .generalbutton .secondl .women .womenlist .womenlist3 {
  background-color: rgb(251, 251, 251);
}
.nsecond .generalbutton .secondl .women .womenlist .womenlist3 .topicmain3 {
  padding-top: 30px;
  font-weight: 600;
}
.nsecond .generalbutton .secondl .women .womenlist .womenlist3 .topic3 {
  font-weight: 600;
}
.nsecond .generalbutton .secondl .women .womenlist .womenlist4 {
  background-color: whitesmoke;
}
.nsecond .generalbutton .secondl .women .womenlist .womenlist4 .topicmain4 {
  padding-top: 30px;
  font-weight: 600;
}
.nsecond .generalbutton .secondl .women .womenlist .womenlist4 .topic4 {
  font-weight: 600;
}
.nsecond .generalbutton .secondl .women .womenlist .womenlist5 {
  background-color: rgb(251, 251, 251);
}
.nsecond .generalbutton .secondl .women .womenlist .womenlist5 .topicmain5 {
  padding-top: 30px;
  font-weight: 600;
}
.nsecond .generalbutton .secondl .women .womenlist .womenlist5 .topic5 {
  font-weight: 600;
}
.nsecond .generalbutton .secondl .originl {
  display: flex;
  align-items: center;
}
.nsecond .generalbutton .secondl .originl .search {
  display: inline;
  margin-left: 20px;
  font-size: 17px;
  color: grey;
}
.nsecond .generalbutton .secondl .originl .shop {
  display: inline;
  margin-left: 33px;
  font-size: 17px;
  color: grey;
}
.nsecond .generalbutton .secondl .page .navbar-nav .nav-link {
  color: grey;
}
.nsecond .generalbutton .secondl .page .navbar-nav .nav-link .nav-link:hover i {
  transform: rotate(180deg);
}
.nsecond .generalbutton .secondl .page .navbar-nav .dropdown-menu {
  display: none;
}
.nsecond .generalbutton .secondl .page .navbar-nav .dropdown-menu .dropdown {
  border-radius: 0;
}
.nsecond .generalbutton .secondl .page .navbar-nav .dropdown-menu .dropdown .dropend .dropdown-toggle {
  color: black;
  margin-left: 1em;
  margin-left: 0.5em;
}
.nsecond .generalbutton .secondl .page .navbar-nav .dropdown-item:hover {
  background-color: whitesmoke;
  color: black;
}
.nsecond .generalbutton .secondl .page .navbar-nav .dropdown:hover > .dropdown-menu,
.nsecond .generalbutton .secondl .page .navbar-nav .dropend:hover > .dropdown-menu {
  display: block;
  margin-top: 0.125em;
  margin-left: 0.125em;
}
@media screen and (min-width: 769px) {
  .nsecond .generalbutton .secondl .page .navbar-nav .dropend:hover > .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
  }
}
.nsecond .generalbutton .secondl .log {
  display: flex;
  margin-left: 350px;
  margin-top: 9px;
}
.nsecond .generalbutton .secondl .log i {
  font-weight: 400;
  font-size: 20px;
}
.nsecond .generalbutton .secondl .log .iconl {
  font-size: 17px;
  padding-left: 10px;
}
.nsecond .generalbutton .secondl .selec {
  margin-left: 2px;
}
.nsecond .generalbutton .secondl .selec button {
  background-color: white;
  color: #000;
  margin-left: 30px;
  width: 160px;
  border-color: rgb(194, 194, 194);
  position: relative;
}
.nsecond .generalbutton .secondl .selec button .uicon {
  color: rgb(194, 194, 194);
  font-size: 11px;
  position: absolute;
  margin-left: 10px;
  margin-top: 3px;
}
.nsecond .generalbutton .secondl .selec button .dicon {
  color: rgb(194, 194, 194);
  font-size: 11px;
  position: absolute;
  margin-left: 10px;
  margin-top: 12px;
}
.nsecond .generalbutton .secondl .selec ul .languagic {
  margin-left: 50px;
}
.nsecond .generalbutton .secondl .selec ul .langic {
  margin-left: 23px;
}
.nsecond .line {
  width: 50%;
  height: 5px;
  background-color: rgb(169, 169, 169);
  margin-left: 170px;
}
.nsecond .line .underline {
  width: 110px;
  height: 5px;
  background-color: #000;
  transition: all 0.2s;
}

.slider {
  overflow: hidden;
}
.slider .team {
  width: 100%;
}
.slider img {
  width: 100%;
}
.slider .slick-prev {
  display: none !important;
}
.slider .slick-next {
  display: none !important;
}
.slider .slick-dots {
  position: absolute;
  bottom: 5px;
  left: 9%;
  bottom: 6%;
  transform: translateX(-50%);
}
.slider .slick-dots li {
  display: inline-block;
  list-style: none;
  margin: 0px 5px;
}
.slider .slick-dots li button {
  font-size: 0;
  height: 15px;
  width: 15px;
  background: white;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 2px 7px 2px #888888;
}
.slider .slick-dots .slick-active button {
  background-color: rgb(0, 0, 0);
  width: 25px;
  border-radius: 10px;
}

.two h2 {
  padding-top: 30px;
  padding-bottom: 20px;
  font-weight: bold;
}
.two .slide2 {
  display: flex;
  position: relative;
}
.two .slide2 .allone {
  width: 320px !important;
  height: 130px;
  background-color: whitesmoke;
  border-radius: 7px;
  display: flex;
}
.two .slide2 .allone img {
  width: 70px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
}
.two .slide2 .allone .inform p {
  font-weight: bold;
  padding-top: 35px;
}
.two .slide2 .allone .connect {
  display: none;
  background-color: black;
  opacity: 0.4;
  position: absolute;
  width: 340px !important;
  height: 130px;
  border-radius: 7px;
}
.two .slide2 .allone .connect i {
  font-size: 40px;
  padding-left: 140px;
  padding-top: 55px;
  opacity: 1;
}
.two .slide2 .all {
  width: 320px !important;
  height: 130px;
  background-color: whitesmoke;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 7px;
  display: flex;
}
.two .slide2 .all img {
  width: 50px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 40px;
}
.two .slide2 .all .inform p {
  font-weight: bold;
  padding-top: 35px;
}
.two .slide2 .all .connect {
  display: none;
  background-color: black;
  opacity: 0.4;
  position: absolute;
  width: 320px !important;
  height: 130px;
  border-radius: 7px;
}
.two .slide2 .all .connect i {
  font-size: 40px;
  padding-left: 140px;
  padding-top: 55px;
  opacity: 1;
}
.two .slide2 .slick-dots {
  display: none !important;
}
.two .slide2 .licons {
  background-color: white;
  margin-top: 48px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 2px 7px 5px #888888;
  position: absolute;
  z-index: 1;
  padding-top: 7px;
  padding-left: 15px;
  left: -20px;
}
.two .slide2 .licons .slick-arrow {
  font-size: 20px;
}
.two .slide2 .ricons {
  background-color: white;
  margin-top: 48px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 2px 7px 5px #888888;
  position: absolute;
  right: -20px;
  padding-top: 7px;
  padding-left: 15px;
}
.two .slide2 .ricons .slick-arrow {
  font-size: 20px;
}
.two .slide2 .ricons:hover,
.two .slide2 .licons:hover {
  background-color: #171717;
  color: white;
}
.two .slide2 .all:hover .connect {
  display: inline-block !important;
}
.two .slide2 .allone:hover .connect {
  display: inline-block !important;
}
.two .photo {
  display: flex;
  margin-top: 70px;
}
.two .photo img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 700px;
}
.two .photo .secondimg {
  -o-object-fit: contain;
     object-fit: contain;
  width: 700px;
  margin-left: 30px;
}

.three h2 {
  padding-top: 40px;
  padding-bottom: 20px;
  font-weight: bold;
}
.three .select ul {
  padding: 0;
}
.three .select ul .firstapart {
  display: inline;
  cursor: pointer;
  color: grey;
  padding-left: 20px;
}
.three .select ul .apart {
  display: inline;
  cursor: pointer;
  color: grey;
  padding-left: 40px;
}
.three .select .line {
  width: 100%;
  height: 5px;
  background-color: rgb(169, 169, 169);
  margin-bottom: 40px;
}
.three .select .line .underline {
  width: 130px;
  height: 5px;
  background-color: #000;
  transition: all 0.5s;
}
.three .general {
  position: relative;
}
.three .general .generalone .onefirst {
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 5px 5px;
}
.three .general .generalone .onefirst img {
  border-radius: 5px;
  width: 330px;
  height: 330px;
  -o-object-fit: contain;
     object-fit: contain;
}
.three .general .generalone .onefirst .info {
  margin-left: 20px;
}
.three .general .generalone .onefirst .info i {
  margin-top: 30px;
}
.three .general .generalone .onefirst .info .brend {
  font-weight: 500;
  font-size: 17px;
  margin-top: 8px;
  height: 0;
}
.three .general .generalone .onefirst .info .marka {
  height: 0;
  padding-top: 14px;
  color: #888888;
}
.three .general .generalone .onefirst .info .discount {
  height: 0;
  color: #888888;
  text-decoration: line-through;
  padding-top: 10px;
}
.three .general .generalone .onefirst .info .count {
  font-size: 21px;
  font-weight: 600;
  padding-top: 10px;
}
.three .general .generalone .onefirst .image {
  color: #000;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  top: 170px;
  right: 12px;
  width: 50px;
  height: 40px;
  padding-left: 14px;
  padding-top: 10px;
}
.three .general .generalone .onefirst .heart {
  color: #000;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  top: 220px;
  right: 12px;
  width: 50px;
  height: 40px;
  padding-left: 14px;
  padding-top: 10px;
}
.three .general .generalone .onefirst .arrow {
  color: #000;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  top: 270px;
  right: 12px;
  width: 50px;
  height: 40px;
  padding-left: 14px;
  padding-top: 10px;
}
.three .general .generalone .onefirst .card {
  position: relative;
}
.three .general .generalone .onesecond {
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 5px 5px;
  margin-top: 30px;
}
.three .general .generalone .onesecond img {
  border-radius: 5px;
  width: 330px;
  height: 330px;
  -o-object-fit: contain;
     object-fit: contain;
}
.three .general .generalone .onesecond .info {
  margin-left: 20px;
}
.three .general .generalone .onesecond .info i {
  margin-top: 30px;
}
.three .general .generalone .onesecond .info .brend {
  font-weight: 500;
  font-size: 17px;
  margin-top: 8px;
  height: 0;
}
.three .general .generalone .onesecond .info .marka {
  height: 0;
  padding-top: 14px;
  color: #888888;
}
.three .general .generalone .onesecond .info .discount {
  height: 0;
  color: #888888;
  text-decoration: line-through;
  padding-top: 10px;
}
.three .general .generalone .onesecond .info .count {
  font-size: 21px;
  font-weight: 600;
  padding-top: 10px;
}
.three .general .generalone .onesecond .image {
  color: #000;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  top: 170px;
  right: 12px;
  width: 50px;
  height: 40px;
  padding-left: 14px;
  padding-top: 10px;
}
.three .general .generalone .onesecond .heart {
  color: #000;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  top: 220px;
  right: 12px;
  width: 50px;
  height: 40px;
  padding-left: 14px;
  padding-top: 10px;
}
.three .general .generalone .onesecond .arrow {
  color: #000;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  top: 270px;
  right: 12px;
  width: 50px;
  height: 40px;
  padding-left: 14px;
  padding-top: 10px;
}
.three .general .generalone .onesecond .card {
  position: relative;
}
.three .general .generaltwo .onefirst {
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 5px 5px;
}
.three .general .generaltwo .onefirst img {
  border-radius: 5px;
  width: 330px;
  height: 330px;
  -o-object-fit: contain;
     object-fit: contain;
}
.three .general .generaltwo .onefirst .info {
  margin-left: 20px;
}
.three .general .generaltwo .onefirst .info i {
  margin-top: 30px;
}
.three .general .generaltwo .onefirst .info .brend {
  font-weight: 500;
  font-size: 17px;
  margin-top: 8px;
  height: 0;
}
.three .general .generaltwo .onefirst .info .marka {
  height: 0;
  padding-top: 14px;
  color: #888888;
}
.three .general .generaltwo .onefirst .info .discount {
  height: 0;
  color: #888888;
  text-decoration: line-through;
  padding-top: 10px;
}
.three .general .generaltwo .onefirst .info .count {
  font-size: 21px;
  font-weight: 600;
  padding-top: 10px;
}
.three .general .generaltwo .onefirst .image {
  color: #000;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  top: 170px;
  right: 12px;
  width: 50px;
  height: 40px;
  padding-left: 14px;
  padding-top: 10px;
}
.three .general .generaltwo .onefirst .heart {
  color: #000;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  top: 220px;
  right: 12px;
  width: 50px;
  height: 40px;
  padding-left: 14px;
  padding-top: 10px;
}
.three .general .generaltwo .onefirst .arrow {
  color: #000;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  top: 270px;
  right: 12px;
  width: 50px;
  height: 40px;
  padding-left: 14px;
  padding-top: 10px;
}
.three .general .generaltwo .onefirst .card {
  position: relative;
}
.three .general .generaltwo .onesecond {
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 5px 5px;
  margin-top: 30px;
}
.three .general .generaltwo .onesecond img {
  border-radius: 5px;
  width: 330px;
  height: 330px;
  -o-object-fit: contain;
     object-fit: contain;
}
.three .general .generaltwo .onesecond .info {
  margin-left: 20px;
}
.three .general .generaltwo .onesecond .info i {
  margin-top: 30px;
}
.three .general .generaltwo .onesecond .info .brend {
  font-weight: 500;
  font-size: 17px;
  margin-top: 8px;
  height: 0;
}
.three .general .generaltwo .onesecond .info .marka {
  height: 0;
  padding-top: 14px;
  color: #888888;
}
.three .general .generaltwo .onesecond .info .discount {
  height: 0;
  color: #888888;
  text-decoration: line-through;
  padding-top: 10px;
}
.three .general .generaltwo .onesecond .info .count {
  font-size: 21px;
  font-weight: 600;
  padding-top: 10px;
}
.three .general .generaltwo .onesecond .image {
  color: #000;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  top: 170px;
  right: 12px;
  width: 50px;
  height: 40px;
  padding-left: 14px;
  padding-top: 10px;
}
.three .general .generaltwo .onesecond .heart {
  color: #000;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  top: 220px;
  right: 12px;
  width: 50px;
  height: 40px;
  padding-left: 14px;
  padding-top: 10px;
}
.three .general .generaltwo .onesecond .arrow {
  color: #000;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  top: 270px;
  right: 12px;
  width: 50px;
  height: 40px;
  padding-left: 14px;
  padding-top: 10px;
}
.three .general .generaltwo .onesecond .card {
  position: relative;
}
.three .general .generalthree .onefirst {
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 5px 5px;
}
.three .general .generalthree .onefirst img {
  border-radius: 5px;
  width: 330px;
  height: 330px;
  -o-object-fit: contain;
     object-fit: contain;
}
.three .general .generalthree .onefirst .info {
  margin-left: 20px;
}
.three .general .generalthree .onefirst .info i {
  margin-top: 30px;
}
.three .general .generalthree .onefirst .info .brend {
  font-weight: 500;
  font-size: 17px;
  margin-top: 8px;
  height: 0;
}
.three .general .generalthree .onefirst .info .marka {
  height: 0;
  padding-top: 14px;
  color: #888888;
}
.three .general .generalthree .onefirst .info .discount {
  height: 0;
  color: #888888;
  text-decoration: line-through;
  padding-top: 10px;
}
.three .general .generalthree .onefirst .info .count {
  font-size: 21px;
  font-weight: 600;
  padding-top: 10px;
}
.three .general .generalthree .onefirst .image {
  color: #000;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  top: 170px;
  right: 12px;
  width: 50px;
  height: 40px;
  padding-left: 14px;
  padding-top: 10px;
}
.three .general .generalthree .onefirst .heart {
  color: #000;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  top: 220px;
  right: 12px;
  width: 50px;
  height: 40px;
  padding-left: 14px;
  padding-top: 10px;
}
.three .general .generalthree .onefirst .arrow {
  color: #000;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  top: 270px;
  right: 12px;
  width: 50px;
  height: 40px;
  padding-left: 14px;
  padding-top: 10px;
}
.three .general .generalthree .onefirst .card {
  position: relative;
}
.three .general .generalthree .onesecond {
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 5px 5px;
  margin-top: 30px;
}
.three .general .generalthree .onesecond img {
  border-radius: 5px;
  width: 330px;
  height: 330px;
  -o-object-fit: contain;
     object-fit: contain;
}
.three .general .generalthree .onesecond .info {
  margin-left: 20px;
}
.three .general .generalthree .onesecond .info i {
  margin-top: 30px;
}
.three .general .generalthree .onesecond .info .brend {
  font-weight: 500;
  font-size: 17px;
  margin-top: 8px;
  height: 0;
}
.three .general .generalthree .onesecond .info .marka {
  height: 0;
  padding-top: 14px;
  color: #888888;
}
.three .general .generalthree .onesecond .info .discount {
  height: 0;
  color: #888888;
  text-decoration: line-through;
  padding-top: 10px;
}
.three .general .generalthree .onesecond .info .count {
  font-size: 21px;
  font-weight: 600;
  padding-top: 10px;
}
.three .general .generalthree .onesecond .image {
  color: #000;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  top: 170px;
  right: 12px;
  width: 50px;
  height: 40px;
  padding-left: 14px;
  padding-top: 10px;
}
.three .general .generalthree .onesecond .heart {
  color: #000;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  top: 220px;
  right: 12px;
  width: 50px;
  height: 40px;
  padding-left: 14px;
  padding-top: 10px;
}
.three .general .generalthree .onesecond .arrow {
  color: #000;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  top: 270px;
  right: 12px;
  width: 50px;
  height: 40px;
  padding-left: 14px;
  padding-top: 10px;
}
.three .general .generalthree .onesecond .card {
  position: relative;
}
.three .general .generalfour .onefirst {
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 5px 5px;
}
.three .general .generalfour .onefirst img {
  border-radius: 5px;
  width: 330px;
  height: 330px;
  -o-object-fit: contain;
     object-fit: contain;
}
.three .general .generalfour .onefirst .info {
  margin-left: 20px;
}
.three .general .generalfour .onefirst .info i {
  margin-top: 30px;
}
.three .general .generalfour .onefirst .info .brend {
  font-weight: 500;
  font-size: 17px;
  margin-top: 8px;
  height: 0;
}
.three .general .generalfour .onefirst .info .marka {
  height: 0;
  padding-top: 14px;
  color: #888888;
}
.three .general .generalfour .onefirst .info .discount {
  height: 0;
  color: #888888;
  text-decoration: line-through;
  padding-top: 10px;
}
.three .general .generalfour .onefirst .info .count {
  font-size: 21px;
  font-weight: 600;
  padding-top: 10px;
}
.three .general .generalfour .onefirst .image {
  color: #000;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  top: 170px;
  right: 12px;
  width: 50px;
  height: 40px;
  padding-left: 14px;
  padding-top: 10px;
}
.three .general .generalfour .onefirst .heart {
  color: #000;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  top: 220px;
  right: 12px;
  width: 50px;
  height: 40px;
  padding-left: 14px;
  padding-top: 10px;
}
.three .general .generalfour .onefirst .arrow {
  color: #000;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  top: 270px;
  right: 12px;
  width: 50px;
  height: 40px;
  padding-left: 14px;
  padding-top: 10px;
}
.three .general .generalfour .onefirst .card {
  position: relative;
}
.three .general .generalfour .onesecond {
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 5px 5px;
  margin-top: 30px;
}
.three .general .generalfour .onesecond img {
  border-radius: 5px;
  width: 330px;
  height: 330px;
  -o-object-fit: contain;
     object-fit: contain;
}
.three .general .generalfour .onesecond .info {
  margin-left: 20px;
}
.three .general .generalfour .onesecond .info i {
  margin-top: 30px;
}
.three .general .generalfour .onesecond .info .brend {
  font-weight: 500;
  font-size: 17px;
  margin-top: 8px;
  height: 0;
}
.three .general .generalfour .onesecond .info .marka {
  height: 0;
  padding-top: 14px;
  color: #888888;
}
.three .general .generalfour .onesecond .info .discount {
  height: 0;
  color: #888888;
  text-decoration: line-through;
  padding-top: 10px;
}
.three .general .generalfour .onesecond .info .count {
  font-size: 21px;
  font-weight: 600;
  padding-top: 10px;
}
.three .general .generalfour .onesecond .image {
  color: #000;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  top: 170px;
  right: 12px;
  width: 50px;
  height: 40px;
  padding-left: 14px;
  padding-top: 10px;
}
.three .general .generalfour .onesecond .heart {
  color: #000;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  top: 220px;
  right: 12px;
  width: 50px;
  height: 40px;
  padding-left: 14px;
  padding-top: 10px;
}
.three .general .generalfour .onesecond .arrow {
  color: #000;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  top: 270px;
  right: 12px;
  width: 50px;
  height: 40px;
  padding-left: 14px;
  padding-top: 10px;
}
.three .general .generalfour .onesecond .card {
  position: relative;
}
.three .general .card:hover {
  box-shadow: 0px 2px 7px 2px #888888;
  margin-bottom: 10px;
}
.three .general .card:hover .image {
  display: inline !important;
}
.three .general .card:hover .heart {
  display: inline !important;
}
.three .general .card:hover .arrow {
  display: inline !important;
}

.four .greenarea {
  margin-top: 60px;
  --tw-bg-opacity: 1;
  background-color: rgb(0 71 67/var(--tw-bg-opacity));
  width: 1450px;
  height: 300px;
  border-radius: 12px;
  position: relative;
}
.four .greenarea h2 {
  color: white;
  padding-top: 30px;
  padding-bottom: 20px;
  font-weight: bold;
  padding-left: 40px;
  height: 0;
}
.four .greenarea .discount {
  color: white;
  font-size: 21px;
  padding-left: 40px;
  margin-top: 40px;
}
.four .greenarea .discount span {
  font-weight: bold;
}
.four .greenarea .time {
  position: absolute;
  color: rgb(99, 99, 99);
  top: 55px;
  right: 30px;
}
.four .greenarea .nike {
  width: 1400px;
  margin-left: 30px;
  margin-top: 50px;
}
.four .greenarea .nike img {
  width: 180px;
}
.four .greenarea .slick-dots {
  display: none !important;
}
.four .greenarea .slick-prev {
  display: none !important;
}
.four .greenarea .slick-next {
  display: none !important;
}

.five h2 {
  padding-top: 40px;
  padding-bottom: 20px;
  font-weight: bold;
}
.five .product {
  display: flex;
  justify-content: space-between;
}
.five .product .girlph {
  width: 326px;
  height: 500px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px !important;
}
.five .product .bag {
  background-color: whitesmoke;
  border-radius: 10px;
}
.five .product .bag .upinfo .feature {
  width: 80px;
  height: 25px;
  background-color: rgb(179, 80, 96);
  color: white;
  border-radius: 5px;
  padding-bottom: 5px;
  padding-left: 9px;
  margin-top: 20px;
  margin-left: 20px;
}
.five .product .bag .upinfo .discount {
  color: green;
  margin-top: 20px;
  margin-left: 140px;
  font-weight: 700;
}
.five .product .bag img {
  width: 326px;
  height: 326px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: whitesmoke;
}
.five .product .bag .brand {
  font-size: 18px;
  font-weight: 600;
  height: 0;
}
.five .product .bag .inform {
  color: #888888;
  padding-top: 15px;
}
.five .product .cap {
  background-color: whitesmoke;
  border-radius: 10px;
}
.five .product .cap .upinfo .feature {
  width: 80px;
  height: 25px;
  background-color: rgb(179, 80, 96);
  color: white;
  border-radius: 5px;
  padding-bottom: 5px;
  padding-left: 9px;
  margin-top: 20px;
  margin-left: 20px;
}
.five .product .cap .upinfo .discount {
  color: green;
  margin-top: 20px;
  margin-left: 140px;
  font-weight: 700;
}
.five .product .cap img {
  width: 326px;
  height: 326px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: whitesmoke;
}
.five .product .cap .brand {
  font-size: 18px;
  font-weight: 600;
  height: 0;
}
.five .product .cap .inform {
  color: #888888;
  padding-top: 15px;
}
.five .product .vt {
  background-color: whitesmoke;
  border-radius: 10px;
}
.five .product .vt .upinfo .feature {
  width: 80px;
  height: 25px;
  background-color: rgb(179, 80, 96);
  color: white;
  border-radius: 5px;
  padding-bottom: 5px;
  padding-left: 9px;
  margin-top: 20px;
  margin-left: 20px;
}
.five .product .vt img {
  width: 326px;
  height: 326px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: whitesmoke;
}
.five .product .vt .brand {
  font-size: 18px;
  font-weight: 600;
  height: 0;
}
.five .product .vt .inform {
  color: #888888;
  padding-top: 15px;
}/*# sourceMappingURL=main.css.map */