* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1450px;
    margin: auto;
}

.one {

    .general {

        .upsec{
            color: #888888;
        }

        .leftsid {

            .firstph {
                display: flex;

                img {
                    height: 480px;
                    object-fit: contain;
                    border-radius: 2px;
                }
            }

            .secondph {
                display: flex;

                img {
                    height: 480px;
                    object-fit: contain;
                    border-radius: 2px;
                }
            }
        }

        .rightsid {

            h2 {
                font-weight: 700;
            }

            .inf {
                width: 540px;
            }

            .cost {
                font-weight: bold;
                height: 0;
                font-size: 40px;
            }

            .discount {
                font-weight: 500;
                font-size: 20px;
                text-decoration: line-through;
                color: rgb(186, 186, 186);
                padding-top: 18px;
                padding-left: 5px;
            }

            hr {
                margin: 40px 0;
            }

            .siz {
                display: flex;

                .size1 {
                    width: 40px;
                    height: 40px;
                    border: 1px solid whitesmoke;
                    border-radius: 7px;
                    padding-left: 12px;
                    padding-top: 8px;
                    font-weight: 600;
                }

                .size {
                    width: 40px;
                    height: 40px;
                    border: 1px solid whitesmoke;
                    border-radius: 7px;
                    padding-left: 12px;
                    padding-top: 8px;
                    margin-left: 10px;
                    font-weight: 600;
                }

                .size:hover,
                .size1:hover {
                    border: 1px solid #000;
                }
            }

            .si {
                font-weight: 600;
            }

            .colo {
                font-weight: 600;
                padding-top: 10px;
            }

            .co {
                display: flex;

                .color1 {
                    width: 40px;
                    height: 40px;
                    border: 1px solid whitesmoke;
                    border-radius: 7px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .colors {
                        background-color: orange;
                        width: 30px;
                        height: 30px;
                        border-radius: 7px;
                    }

                    &:hover{
                        border: 1px solid black;
                    }
                }

                .color2 {
                    width: 40px;
                    height: 40px;
                    border: 1px solid whitesmoke;
                    border-radius: 7px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 10px;

                    .colors {
                        background-color: palevioletred;
                        width: 30px;
                        height: 30px;
                        border-radius: 7px;
                    }

                    &:hover{
                        border: 1px solid black;
                    }
                }

                .color3 {
                    width: 40px;
                    height: 40px;
                    border: 1px solid whitesmoke;
                    border-radius: 7px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 10px;

                    .colors {
                        background-color: purple;
                        width: 30px;
                        height: 30px;
                        border-radius: 7px;
                    }

                    &:hover{
                        border: 1px solid black;
                    }
                }

                .color4 {
                    width: 40px;
                    height: 40px;
                    border: 1px solid whitesmoke;
                    border-radius: 7px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 10px;

                    .colors {
                        background-color: red;
                        width: 30px;
                        height: 30px;
                        border-radius: 7px;
                    }

                    &:hover{
                        border: 1px solid black;
                    }
                }
            }

            .addinf {
                font-weight: 600;
                color: #000;

                .forma {
                    font-weight: 400;
                    color: rgb(150, 150, 150);

                    &:hover {
                        text-decoration: underline;
                        color: #000;
                    }
                }
            }

            .count {
                display: flex;
                border: 1px solid rgb(200, 199, 199);
                width: 193px;
                height: 48px;
                border-radius: 7px;
                margin-top: 10px;
            }

            .count button:nth-child(1) {
                width: 55px;
                height: 46px;
                font-size: 20px;
                background-color: white;
                border: none;
                border-right: 1px solid rgb(200, 199, 199);
                color: rgb(0, 0, 0);
            }

            .count button:nth-child(1):hover {
                background-color: black;
                color: white;
                border-radius: 7px;
                filter: brightness(1.10);
                transition: all .5s;
            }

            .count button:nth-child(3) {
                width: 55px;
                height: 46px;
                font-size: 20px;
                background-color: white;
                border: none;
                border-left: 1px solid rgb(200, 199, 199);
                color: #000;
                border-radius: 7px;
                filter: brightness(1.10);
                transition: all .5s;
            }

            .count button:nth-child(3):hover {
                background-color: black;
                color: white;
                border-radius: 7px;
            }

            .count h2 {
                color: #000;
                margin: 10px 50px;
                margin-top: 10px;
                font-size: 20px;
                font-weight: 500;
            }

            #add {
                width: 250px;
                height: 48px;
                border-radius: 7px;
                background-color: #000;
                color: white;
                margin-left: 20px;
                margin-top: 10px;

                &:hover {
                    opacity: 0.8;
                }
            }

            .accor {

                .accordion {
                    background-color: white;
                    color: #444;
                    cursor: pointer;
                    width: 100%;
                    border: none;
                    text-align: left;
                    outline: none;
                    font-size: 15px;
                    transition: 0.5s;
                    justify-content: space-between;

                    p {
                        font-weight: 600;
                        font-size: 20px;
                    }

                    i {
                        padding-top: 10px;
                        font-size: 20px;
                    }
                }

                .panel {
                    padding: 0 18px;
                    display: none;
                    background-color: white;
                    overflow: hidden;

                    .rat {
                        font-weight: 600;
                    }

                    .star {

                        i {
                            color: rgb(158, 158, 158);
                            border: none;
                        }
                    }

                    .st2:hover{
                        color: #000;
                    }

                    .st2:hover .st1{

                        
                        color: #000;
                        
                    }

                    .st1:hover{
                        color: #000;
                    }

                    .st3:hover{
                        .st1{
                            color: #000;
                        }

                        .st2{
                            color: #000;
                        }
                    }

                    .st3:hover{
                        color: #000;
                    }

                    .st4:hover{
                        .st1{
                            color: #000;
                        }

                        .st2{
                            color: #000;
                        }

                        .st3{
                            color: #000;
                        }
                    }

                    .st4:hover{
                        color: #000;
                    }

                    .st5:hover{
                        .st1{
                            color: #000;
                        }

                        .st2{
                            color: #000;
                        }

                        .st3{
                            color: #000;
                        }

                        .st4{
                            color: #000;
                        }
                    }

                    .st5:hover{
                        color: #000;
                    }

                    .getin{

                        #fir,
                        #last {
                            border-color: #939393;
                            width: 355px;
                            height: 48px;
                            border-radius: 7px;
                            margin-top: 10px;
                            padding-left: 20px;
                        }
                        
                        .fr {
                            font-weight: 600;
                        }
                
                        .ls {
                            font-weight: 600;
                            padding-left: 230px;
                        }

                        #last{
                            margin-left: 10px;
                        }

                        .mss{
                            flex-direction: column;
                        
                        #mes{
                            width: 545px;
                            height: 105px;
                            border-color: #939393;
                            border-radius: 7px;
                            margin-top: 10px;
                            padding-bottom: 60px;
                        }
                
                        .mess{
                            font-weight: 600;
                            padding-top: 15px;
                        }

                        .sav{

                        .saved{
                            padding-left: 5px;
                            height: 0;
                        }
                    }
                    }
                
                        .snd {
                            border-radius: 7px;
                            background-color: black;
                            color: white;
                            width: 119px;
                            height: 48px;
                            border: none;
                            margin-top: 30px;
                
                            &:hover {
                                opacity: 0.7;
                            }
                        }
                
                        
                    }
                }
            }
        }
    }
}

.two{
    margin-top: 60px;

    h2{
        height: 0;
    }

    .cards {
        display: flex;
        justify-content: space-between;

        .card {
            position: relative;
            width: 256px;
            border: none;
            margin-top: 30px;

            img {
                border-radius: 4px;
                width: 256px !important;
                height: 331px;
                object-fit: contain;
            }

            .info {
                margin-left: 20px;

                .brend {
                    font-weight: 500;
                    font-size: 17px;
                    margin-top: 8px;
                    height: 0;
                }

                .marka {
                    height: 0;
                    padding-top: 14px;
                    color: #888888;
                }

                .cost {

                    .discount {
                        height: 0;
                        color: #888888;
                        text-decoration: line-through;
                        padding-top: 15px;
                        padding-left: 20px;
                    }

                    .count {
                        font-size: 21px;
                        font-weight: 600;
                        padding-top: 10px;
                    }
                }
            }
        }

        .card:hover {
            box-shadow: 0px 2px 2px 2px #888888;
            margin-bottom: 7px !important;
        }
    }
}